.site-logo-root {
  position: relative;
  display: inline-flex;
  align-items: center;
  min-height: 2.75rem;
}

.site-logo-image {
  width: auto;
  max-height: 2.75rem;
}

.site-logo-image-for-light-theme {
  display: block;
}

.site-logo-image-for-dark-theme {
  display: none;
}

html[data-theme='dark'] .site-logo-image-for-light-theme {
  display: none;
}

html[data-theme='dark'] .site-logo-image-for-dark-theme {
  display: block;
}

@media (min-width: 640px) {
  .site-logo-root {
    min-height: 3rem;
  }

  .site-logo-image {
    max-height: 3rem;
  }
}
